@model Joueur

@{
    string[] colorMap = ["vert", "bleu", "rouge", "gris", "jaune", "marron", "cyan", "rose", "violet"];
    string[] colorMapEn = ["green", "blue", "red", "grey", "yellow", "brown", "cyan", "pink", "purple"];
    var pickaxeMap = new Dictionary<string, string>
    {
        { "PiocheBasique", "pickaxe_base" },
        { "PiocheFer", "pickaxe_iron" },
        { "PiocheDiamant", "pickaxe_diamond" }
    };
}

<div class="joueur" style="background: @(Model.Actions > 0 ? colorMapEn[Model.Num] : "rgba(0, 0, 0, 0.575)");">
    <h2>Nom : @Model.Name</h2>
    <div>Numéro : @Model.Num</div>
    <div class="mineurs">
        @foreach (Mineur m in @Model.Mineurs)
        {
            <div class="mineurs_pioche">
                <div class="coords">X : @m.BlocUnder.X Y : @m.BlocUnder.Y</div>
                <img src="@Url.Content("~/img/" + (colorMap[Model.Num]) + ".png")" alt="Mineur" />
                <img src="@Url.Content("~/img/" + (pickaxeMap[m.Pioche.GetType().Name]) + ".png")" alt="Pioche" />
            </div>
        }
    </div>
    <h3>Score : @Model.Score pts</h3>
    <h3>Saboté : @Model.Saboted</h3>
</div>